<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MWA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MWA.Properties.Settings>
            <setting name="StopOnLock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxElapsed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StopAll" serializeAs="String">
                <value>False</value>
            </setting>
        </MWA.Properties.Settings>
    </userSettings>
</configuration>